@import url('https://fonts.googleapis.com/css2?family=Lobster&family=REM:wght@200&family=Roboto+Mono:wght@300&display=swap');
body {
    font-family: 'REM', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    overflow: hidden; 
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

header {
    background-color:#398779;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 15px;
}

a {
    font-size: large;
    color:black;
    text-decoration: none;
}

a:hover{
    color:red;
    text-decoration: none;
}

li {
    display: inline;
}

h1 {
    font-family: 'Lobster', cursive;
    position:absolute;
    top: 5px;
    margin: 0;
    left:150px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 8vh;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.menu {
    width: calc(100% - 4em);
    height: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2em;
    color:white;
}

.menu_item {
    margin-right: 1em;
    display: flex;
}

.menu_small_icon {
    display: none;
}

.menu-small {
    display: none;
    height: 2em;
}

.menu_small_item {
    display: none;
}

.stick {
    width: 80%;
    height: 5px;
    background: black;
}

a {
    color:white;
}

.search {
    background-color: #561F1F;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding:15px;
}

.inputsearch {
    background-color: #D9D9D9;
    width:550px;
    height:40px;
    font-size:18px;
    text-align: left;
    border-radius: 5px;
    border:none;
}

.searchimg {
    width:3%;
}

main {
    background-color: #887d7d;
    height : 70vh;
}

h2 {
    color: white;
    margin: 0;
    padding: 30px;
    font-size: 55px;
    text-align: center;
}

.autorization {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    width:200px;
    height:40px;
    border-radius: 10px;
    border:4px solid white;
    background-color: #918f8f;
    font-size: 25px;
    text-align: center;
    margin-right: 10%;
    margin-top: 10%;
}

input:focus {
    border : none;
}

.dark-red-button {
    background-color: #361b1b; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
}

.dark-red-button:hover {
    background-color: #440c0c; 
}

footer {
    background-color: #373737;
    color: white;
    padding: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
}

.logo-a {
    color: black;
}

.tel, .copyright {
    margin-right: 150px;
}
@media (max-width: 650px) {
    .menu {
        display: none;
    }

    .menu-small {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        padding: 0;
        position: absolute;
        background: white;
        transform: translateX(-200%);
    }

    .menu_small_item {
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_small_item:first-child {
        padding-top: calc(50px + 2em);
    }

    .menu_small_icon {
        position: absolute;
        top: 1em;
        left: 1em;
        width: 50px;
        height: 50px;
        display: flex;
        z-index: 1;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .logo {
        z-index: -1;
    }

}